@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1e26;
  color: #dca85d;
}

h3 {
  font-size: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px #dca85d solid;
  margin: 0px;
}

.ship-placer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

/* .ship-placer .cell:hover,
.ship-placer .cell:hover + .cell{
  background-color: #234e66;
} */

.ship-placer h3 {
  grid-column: 1 / 3;
}

.ship-to-place {
  display: flex;
}

.ship-to-place .cell {
  background-color: #234e66;
}
.default-btn {
  margin: 10px;
  background-color: #11364a;
  color: #dca85d;
  border: 1px #dca85d solid;
  padding: 6px 18px;
  font-size: 1.2rem;
  align-self: center;
}

.default-btn:hover {
  background-color: #234e66;
  cursor: pointer;
}

.default-btn:active, .default-btn:active {
  background-color: rgb(56 9 135);
}

.gameboards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.dragover-ship {
  background-color: red;
}

.ship-on-board {
  background-color: green;
  position: absolute;
}


.flex-toggle {
  flex-direction: column;
}