/* @import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 old background #0d1e26, old color #dca85d 

body {
  background-color: #b5cad5;
  color: #000;
}

.root {
  padding: 4px 8px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  font-family: Cinzel, sans-serif;
  text-shadow: 2px 1px 2px #dca85d; 
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 6px;
}

a {
  color: black;
}

 .box {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border: 1px white solid;
} 

.home {
  display: flex;
  flex-direction: column;
}

.home p {
  line-height: 1.5rem;
}

.text-outer {
  padding: 4px 4px;
  background-color: white;
  border: 2px solid #dca85d;
}

.text {
  padding: 4px 4px;
  background-color: white;
  border: 4px solid #dca85d;
}

.text-inner {
  padding: 16px 4px;
  background-color: white;
  border-left: 2px solid #dca85d;
  border-top: 2px solid #dca85d;
}

.home-links p {
  font-family: Cinzel, sans-serif;
  font-size: 1.6rem;
}


canvas {
  border: 1px black solid;
} */
