@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* old background #0d1e26, old color #dca85d */

body {
  background-color: #b5cad5;
  color: #000;
}

h1,
h2,
h3 {
  font-family: Cinzel, sans-serif;
  text-shadow: 2px 1px 2px #dca85d;
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 2rem;
}
a {
  color: black;
}

/* .box {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border: 1px white solid;
} */
