.modal {
  position: absolute;
  z-index: 10;
  top: calc(50% - 50px);
  left: calc(50% - 100px);
  padding: 12px 18px;
  background-color: #234e66;
  color: #dca85d;
  border: 1px #dca85d solid;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: #0a2839 6px 7px 5px 0px, #051b25b8 0px 0px 6px 3px;
}

.win {
}
.loss {
}

.menu {
  display: flex;
  justify-content: space-between;
}

.gameWindow {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

canvas {
  max-height: 90vh;
}

.controls {
  text-align: center;
  padding-left: 8px;
}

.controls p {
  font-weight: bold;
  padding-bottom: 4px;
}

.divider {
  margin: 4px;
}

.keys1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2px;
}

.keys2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2px;
}
.key {
  /* display: flex;
  flex-direction: column; */
}