@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap");

.gameWindow {
  display: flex;
  flex-direction: column;
}

.gameMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 10px;
  background-color: #11364a;
  color: #dca85d;
  border: 1px #dca85d solid;
  padding: 6px 18px;
  font-size: 1.2rem;
  align-self: center;
}

.button:hover {
  background-color: #234e66;
  cursor: pointer;
}

.button:active {
  background-color: rgb(56 9 135);
}

.boardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pregameInfo {
  padding: 4px;
  max-width: 400px;
}

.pregameInfo p {
  margin: 8px 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  column-gap: 0px;
  row-gap: 0px;
  justify-items: stretch;
  font-size: 12px;
  margin: 6px 12px;
  width: 400px;
  max-width: 400px;
  max-height: 400px;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px #dca85d solid;
  margin: 0px;
}

.ownBoard {
  background-color: #234e66;
}

.enemyBoard {
  background-color: rgb(58, 39, 104);
}

.randomShipOnBoard {
  background-color: green;
}

.gameWindow h2 {
  text-align: center;
}

/* .shipPlacer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
} */

.shipToPlace {
  display: flex;
  width: fit-content;
  cursor: pointer;
  background-color: #2f7ba4;
}

.shipToPlace:hover {
  background-color: #3b8bb7;
}

/* body {
  background-color: #0d1e26;
  color: #dca85d;
} */

.dragoverShip {
  background-color: red;
}

.shipOnBoard {
  position: absolute;
}

.flexToggle {
  flex-direction: column;
}

.enemyBoard .cell:hover {
  background-color: rgb(69 41 137);
}

.enemyBoard .cell:active {
  background-color: rgb(239 190 130);
}

.enemyBoard .miss,
.enemyBoard .miss:hover {
  background-color: rgb(122 121 127);
}

.enemyBoard .hit,
.enemyBoard .hit:hover {
  background-color: rgb(51 139 54);
}

.ownBoard .miss {
  background-color: rgb(122 121 127);
}

.ownBoard .hit {
  background-color: rgb(169, 17, 42);
}

.enemyBoard .cell {
  cursor: pointer;
}

.buttons {
  display: grid;
}

.start {
  background-color: rgb(58, 39, 104);
}

.start:hover {
  background-color: rgb(69 41 137);
}

.placementError {
  background-color: rgb(102 27 40);
  padding: 4px 8px;
}

.ownShip {
  background-color: #2f7ba4;
}

.endgame {
  position: absolute;
  background-color: #0d1e26;
  padding: 12px 18px;
  border: 1px #dca85d solid;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: #0a2839 6px 7px 5px 0px, #051b25b8 0px 0px 6px 3px;
}

.endgame p {
  margin: 8px;
}

/*  */
