.modal {
  position: absolute;
  z-index: 10;
  top: calc(50% - 50px);
  left: calc(50% - 100px);
  padding: 12px 18px;
  background-color: #234e66;
  color: #dca85d;
  border: 1px #dca85d solid;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: #0a2839 6px 7px 5px 0px, #051b25b8 0px 0px 6px 3px;
}

.modal .buttons {
  display: flex;
  justify-content: center;
}

.modal input {
  margin: 8px;
  height: 1.5rem;
  font-size: 1.2rem;
}

.win {
}
.loss {
}

.menu {
  display: flex;
  justify-content: space-between;
}

.gameWindow {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  
}

canvas {
  max-height: 100vh;
  border: 2px black solid;
}

.controls {
  text-align: center;
  padding-left: 8px;
}

.controls p {
  font-weight: bold;
  padding-bottom: 4px;
}

.divider {
  margin: 4px;
}

.keys1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2px;
}

.keys2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2px;
}
.key {
  /* display: flex;
  flex-direction: column; */
}

.gameWindow {
  background-color: #f0f0f0;
  padding: 12px;
}

.scroller {
  position: absolute;
  top: 1px;
  right: -30px;
  border-radius: 50%;
  border: 1px black solid;
  cursor: pointer;
}

.scroller:hover {
  box-shadow: 2px 2px 1px #656565;
}

.gameCanvas {
  position: relative;
}

.modal button {
  margin: 10px;
  background-color: #11364a;
  color: #dca85d;
  border: 1px #dca85d solid;
  padding: 6px 18px;
  font-size: 1.2rem;
  align-self: center;
}

.modal button:hover {
  background-color: #2f7ba4;
  cursor: pointer;
}

.modal button:active {
  background-color: rgb(56 9 135);
}

.modal p {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}

.modal > div {
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
