@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #0d1e26;
  color: #dca85d;
}

.header {
  margin: 12px;
  display: flex;
  justify-content: center;
}

.header > span {
  font-size: 2.5rem;
  font-family: 'Cinzel', serif;
  text-shadow: #3c3d51 0px -10px 6px, 2px 2px 2px #5f561b;
  border-bottom: #dca85d 2px solid;
  margin-bottom: 8px;
}

.main {
  display: flex;
}

.prep-board-div {
  margin: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.prep-ships-div {
  margin: 6px 24px;
  display: flex;
  flex-direction: column;
}

.prep-ships-div > span, .prep-board-div > span {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.prep-info {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
}

.sq0-prep:hover {
  cursor: grab;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, auto);
  column-gap: 0px;
  row-gap: 0px;
  justify-items: stretch;
  font-size: 12px;
  margin: 6px 12px;
}

.own-square, .enemy-square, .prep-square {
  width: 80px;
  height: 80px;
  border: 1px #dca85d solid;
  margin: 0px;
}

.enemy-square:hover {
  cursor: pointer;
}

.enemy-square.hit {
  background-color: darkgreen;
}

.enemy-square.miss {
  background-color: grey;
}

.own-square.miss {
  background-color: grey;
}

.own-square.hit {
  background-color: rgb(255, 98, 205);
}

.own-square.ship, .prep-square.ship{
  background-color: #1253d6;
}

.ship-div {
  display: flex;
  margin: 4px;
}

.ship-on-board {
  position: absolute;
  margin: 0px;
}

.shipsq {
  background-color: rgb(56 9 135);
}

.flex-toggle {
  flex-direction: column;
}

.start-game, .button-modal {
  margin: 10px;
  background-color: #11364a;
  color: #dca85d;
  border: 1px #dca85d solid;
  padding: 6px 18px;
  font-size: 1.2rem;
  align-self: center;
}

.start-game:hover, .button-modal:hover {
  background-color: #234e66;
  cursor: pointer;
}

.start-game:active, .button-modal:active {
  background-color: rgb(56 9 135);
}

.own-ship {
  background: #1253d6;
}

.grid-enemy {
  background-color: rgb(58, 39, 104);
}

.grid-own, .grid-prep {
  background-color: #234e66;
}

.grid-place-own {
  background-color: #234e66;
}

.enemy-ship {
  background: rgb(175, 13, 40);
}

.error-msg {
  background-color: rgb(58, 39, 104);
  margin: 8px 0px;
  border: 1px #dca85d solid;
  padding: 6px;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(13, 30, 38, 0.7);
  font-size: 1.5rem;
  font-weight: bold;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-title {
  font-size: 2rem;
  margin: 10px;
  font-weight: bold;
}

/* Media queries */

/* Extra small devices (phones, 600px and down) *//*
@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  
}*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main {
    flex-direction: column-reverse;
    /*grid-template-columns: repeat(10, 48px);*/
  }/*
 .own-square {
    width: 50px;
    height: 50px;
  }*/
  /*.board-container {
    transform: scale(0.6);
    transform-origin: top;
  }
}
*/
/* Medium devices (landscape tablets, 768px and up) *//*
@media only screen and (min-width: 768px) {
    .main {
      flex-direction: column;
    }
}*/

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {...}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...}
*/