* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-areas: "header header"
                       "menu main";
  color: #dca85d;
}

a {
  color: #dca85d;
  text-decoration: underline;
}

a:hover {
  color: #be8536;
}

a:active {
  color: #36b9be;
}

h1 {
  font-size: 1.4rem;
  margin: 2px;
  background-color: rgb(103 58 183 / 46%);
  padding: 4px 8px;
  margin-bottom: 4px;
  display: inline-block;
}

header {
  grid-area: header;
}

.menu {
  grid-area: menu;
  margin-left: 4px;
  max-width: 150px;
}

