* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  /* display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-areas: "header header"
                       "menu main"; */
  color: #dca85d;
}

a {
  color: #dca85d;
  text-decoration: underline;
}

a:hover {
  color: #be8536;
}

a:active {
  color: #36b9be;
}

h1 {
  font-size: 1.4rem;
  margin: 2px;
  padding: 4px 8px;
  margin-bottom: 4px;
  display: inline-block;
}

header {
  grid-area: header;
}

.menu {
  grid-area: menu;
  margin-left: 4px;
  max-width: 150px;
}

.button {
  margin: 10px;
  background-color: #11364a;
  color: #dca85d;
  border: 1px #dca85d solid;
  padding: 6px 18px;
  font-size: 1.2rem;
  align-self: center;
}

.button:hover {
  background-color: #234e66;
  cursor: pointer;
}

.button:active {
  background-color: rgb(56 9 135);
}


.menu-link {
  margin: 10px;
  background-color: #11364a;
  color: #dca85d;
  border: 1px #dca85d solid;
  padding: 6px 18px;
  font-size: 1.2rem;
  align-self: center;
}

.menu-link:hover {
  background-color: #234e66;
  cursor: pointer;
}

.menu-link:active {
  background-color: rgb(56 9 135);
}

.home {
  display: flex;
  flex-direction: column;
  
}

.home p {
  margin: 10px;
  align-items: center;
}